{% load static %}
<header>

   <nav class="navbar navbar-expand-none navbar-dark bg-transparent flex-wrap" >
  <a class="navbar-brand" href="{% url 'hotel' h.name %}"><img class="d-md-block d-none image_nav" src="{{h.logo.url}}" alt="Logo" width="160px" >
   <!--  <img class="d-md-none image_nav" src="{%  static 'img/Logo-en-or.png' %}" alt="Logo" width="115px"></a> --></a>
   
      <a class="btn btn-outline-light d-block ml-auto reservez left mx-2 px-1 shadow" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="position: relative; right: 0;" id="toggler">
    Réservez maintenat
  </a>
  <div class="collapse mx-lg-2" id="collapseExample">
  <div class="card card-body">
            
                               
                              <div class="container">
                                  <div class="booking-form-inner mx-auto bg-transparent">
                                      <form method="POST" class=" mx-auto"> {% csrf_token %}
                                          <div class="row align-items-center justify-content-center">
                                              <!-- <div class="col-lg-3 col-md-6 ">
                                                 <label for="arrival-date">Date d'arrivée</label>
                                                <div class="input-group mb-3">

                                                <div class="input-group-prepend">
                                                  
                                                  <span class="input-group-text bg-white border-right-0" id="basic-addon1"><i class="fal fa-calendar-alt" style="font-size: 16px; color:#bead8e;"></i></span>
                                                </div>
                                                <input type="text" class="form-control p-1 border-left-0" placeholder="Sélectionnez une date" aria-label="Sélectionnez une date" aria-describedby="basic-addon1" id="arrival-date">
                                              </div>
                                                  
                                              </div>
                                              <div class="col-lg-3 col-md-6">
                                                  <div class="inputs-filed mt-30">
                                                      <label for="departure-date">Date du départ</label>
                                                      <div class="input-group mb-3">
                                                      <div class="input-group-prepend">
                                                      <span class="input-group-text bg-white border-right-0" id="basic-addon1"><i class="fal fa-calendar-alt" style="font-size: 16px;color:#bead8e;"></i></span>
                                                      </div>
                                                      <input type="text" class="form-control p-1 border-left-0" placeholder="Sélectionnez une date" aria-label="Sélectionnez une date" aria-describedby="basic-addon1" name="departure-date" id="departure-date" >
                                                      </div>
                                  
                                                  </div>
                                              </div>

                                              <div class="form-group  col-lg-2 col-md-6">
                                                <label for="adultes">Adultes</label>
                                                <select class="form-control" id="adultes">
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                </select>
                                              </div>

                                              <div class="form-group  col-lg-2 col-md-6">
                                                <label for="enfants">Enfants</label>
                                                <select class="form-control" id="enfants">
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                </select>
                                              </div> -->
                                              <div class="col-md-4 my-2">
                                                <!-- <label for="mail">Adresse électronique:</label> -->
                                                <input type="text" class="form-control p-1" placeholder="Adresse électronique" id="mail" name="mail" required>

                                              </div>
                                              <div class="col-md-4 my-2">
                                                <!-- <label for="phone">Adresse électronique:</label> -->
                                                <input type="text" class="form-control p-1" placeholder="Numéro de téléphone" id="phone" name="phone" required>

                                              </div>
                                              <div class="text-center col-md-4">
                                                  <div class="inputs-filed" >
                                                      <button class="btn btn-outline-dark rounded-0" style="border-color: #bead8e; background-color: #bead8e; color:white; " onMouseOver="this.style.background='white';this.style.color='black';"  onMouseOut="this.style.background='#bead8e';this.style.color='white';" type="submit">Réservez maintenat</button>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          
  </div>
</div>
<div class="d-flex align-items-center " style="position: relative; right: 0;">
  <button class="navbar-toggler ml-auto mx-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-color: white;">
    <!-- <span class="navbar-toggler-icon" ></span> -->
    <i class="fal fa-bars" style="color:#fff; font-size:28px;" ></i>
  </button>
  <ul class="p-0">
  <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle mx-2 p-0"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <img src="{% static 'img/france.png' %}" width=23px>
        </a>
        <div class="dropdown-menu bg-transparent border-0" aria-labelledby="navbarDropdown">
          {% if not sousPage == None %}
           <a class="dropdown-item" href="{% url ar  h.name sousPage.name_spage_en %}">
          {% else %}
          <a class="dropdown-item" href="{% url ar  h.name  %}">
          {% endif %}<img src="{% static 'img/algeria.png' %}" width=23px></a>
         
          {% if not sousPage == None %}
           <a class="dropdown-item" href="{% url page.page_name_en h.name sousPage.name_spage_en %}">
          {% else %}
          <a class="dropdown-item" href="{% url page.page_name_en h.name  %}">
          {% endif %}<img src="{% static 'img/united-kingdom.png' %}" width=23px></a>
        </div>
      </li>
  </ul>
  <div class="collapse navbar-collapse"  id="navbarSupportedContent">
    <ul class="navbar-nav mr-2 mr-auto justify-content-end " style="position: fixed; right: 3%;top:100px;">
      <li class="nav-item active m-3">
        <a class="nav-link" href="{% url 'hotel' h.name %}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active m-3">
        <a class="nav-link" href="{% url 'chambre' h.name %}">Chambres</a>
      </li>
      <li class="nav-item active m-3">
        <a class="nav-link" href="{% url 'galerie' h.name %}">Galerie</a>
      </li>

      <li class="nav-item dropdown active m-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Restaurants
        </a>
        <div class="dropdown-menu bg-transparent bg-transparent border-0" aria-labelledby="navbarDropdown">
          {% for resto in restos %}
          <a class="dropdown-item " style="color:white;" href="{% url 'restaurants' h.name resto.name_spage %}"> {{resto.name_spage|capfirst}}</a>
          
          {% endfor %}
        </div>
      </li>
      <li class="nav-item active m-3">
        <a class="nav-link" href="{% url 'evenements' h.name %}">Evenements</a>
      </li>
      <li class="nav-item active m-3">
        <a class="nav-link" href="{% url 'region' h.name h.region %}">Découvrez {{h.region}}</a>
      </li>
      <li class="nav-item active m-3">
        <a class="nav-link" href="{% url 'covid_fr' h.name %}">Mesure sanitaire</a>
      </li>
      <li class="nav-item active m-3">
        <a class="nav-link" href="{% url 'contacte' h.name %}">Contact</a>
      </li>
   </ul>
  </div>
</div>
  
 

</nav>

</header>