altgraph==0.17
asgiref==3.3.1
auto-py-to-exe==2.7.11
bottle==0.12.19
bottle-websocket==0.2.9
Django==3.1.4
Eel==0.12.4
future==0.18.2
gevent==20.12.1
gevent-websocket==0.10.1
greenlet==1.0a1
mysql-connector-python==8.0.22
Pillow==8.0.1
protobuf==3.14.0
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
-e git+https://github.com/django-import-export/django-import-export.git@9706ed1dac903fc50e823a50b80dd4d92bce9916#egg=django_import_export
gunicorn==19.9.0