{% extends 'atlhotel/main.html' %}
{% load static %}
{% block main %}
{% include 'atlhotel/header_standard.html' %}
<div class="row">
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" >
  <div class="carousel-inner">  
    {% for pic in picsCaroussel %}
    {% if pic.position == 1 %}
    <div class="carousel-item active" data-interval="2000">
      <img src= "{{pic.pic.url}}"  class="d-block w-100">
    </div>
    {% else %}
    <div class="carousel-item " data-interval="2000">
      <img src= "{{pic.pic.url}}"  class="d-block w-100">
    </div>
    {% endif %}
    {% endfor %}  
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<nav class="bg-white" aria-label="breadcrumb">
                              <ol class="breadcrumb" class="bg-white" style="background-color: transparent;">
                                <li class="breadcrumb-item"><a href="{% url 'hotel' h.name %}">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Chambres</li>
                              </ol>
                            </nav>
<!--====== ROOM-LIST START ======-->
    <section class="room-section room-list-style pt-20 pb-120">
        <div class="container">
            
        	<h2 class="text-center mb-50"> Nos chambres</h2>
            <div class="room-list-loop">
                {% for pic,text in zipped %}                
                <div class="room-box mb-30" id="reservez">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-lg-5 col-md-10">
                            <div class="room-img-wrap">
                                <div class="room-img" style="background-image: url({{pic.pic.url}});"></div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-10">
                            <div class="room-desc">
                                <div class="row align-items-center">
                                    <div class="col-sm-8">
                                        <a href="{% url 'icons' h.name %} "><ul class="icons text-center">
                                            <li><i class="fal fa-bed"></i></li>
                                            <li><i class="fal fa-wifi"></i></li>
                                            <li><i class="fal fa-car"></i></li>
                                            <li><i class="fal fa-coffee"></i></li>
                                            <li><i class="fal fa-concierge-bell"></i></li>
                                            <li><i class="fal fa-swimmer"></i></li>
                                        </ul> </a>                                      
                                        <h4 class="title">

                                            <a href="{% url 'chambre' h.name pic.desc %}">Reservez nos {{text.Titre|capfirst}}s</a></h4>
                                        <p>
                                            {{text.texte|capfirst|linebreaks|truncatechars:165}}
                                       </p>
                                   </div>

                                    <div class="col-sm-4">
                                        <div class="text-sm-center">
                                            {% for p in price %}
                                            <span class="price" id="price_suite">
                                                {% if p.room_type_fr  == text.description %}
                                               {{p.room_price}}<span>DA/Nuit</span> 
                                                {% endif %}
                                            </span>
                                            {% endfor %}
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}                              
            </div>            
    </section>
    <!--====== ROOM-LIST END ======--> 
{% endblock %}