{% extends 'atlhotel/main.html' %}
{% load static %}
{% block main %}
{% include 'atlhotel/header_standard.html' %}
<section class="row breadcrumb-area darken" style="background-image: url({{picCover.pic.url}});">
        <div class="container">
            <div class="breadcrumb-text">
                <br>
            </div>
        </div>
    </section>
    <nav class="bg-white" aria-label="breadcrumb">
            <ol class="breadcrumb" class="bg-white" style="background-color: transparent;">
                <li class="breadcrumb-item"><a href="{% url 'hotel' h.name %}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Galerie</li>
             </ol>
            </nav>
<section class="gallery-wrappper pb-120">
        <div class="container">
            
            <h1 class="text-center mt-5 mb-80">Galerie</h1>
            <div class="gallery-loop">
                {% for pic in pics %}
                <div class="single-gallery-image wow fadeInUp" data-wow-delay=".3s">
                    <a href="{{pic.pic.url}}" class="popup-image">
                        <img src="{{pic.pic.url}}" alt="Images">
                    </a>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!--====== GALLERY END ======-->
    
{% endblock %}