
{% extends 'atlhotel/main.html' %}
{% load static %}
{% block main %} 
<!-- header -->
{% include 'atlhotel/header_standard.html' %}
<!-- end header -->

<!--====== image on top of the page ======-->
<section class="row breadcrumb-area darken" style="background-image: url({{picCover.pic.url}});">
    <div class="container">
         <div class="breadcrumb-text"></div>
    </div>
</section>
<!--====== end of image on top of the page ======-->

<!--====== BREADCRUMB PART START ======-->
<nav class="bg-white" aria-label="breadcrumb">
    <ol class="breadcrumb" class="bg-white" style="background-color:transparent;">
        <li class="breadcrumb-item"><a href="{% url 'hotel' h.name %}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
</nav>
<!--====== BREADCRUMB PART END ======-->

<!-- contact section -->
<section class="contact-part pt-115 pb-115">
    <div class="container">           
        <h2 class="text-center"> Contactez-nous</h2>
        <!-- Contact Info -->
        <div class="contact-info my-5">
            <div class="row justify-content-center">
                <div class="col-md-4 col-sm-6 col-10">
                    <div class="info-box d-flex">
                        <div class="icon">
                            <i class="flaticon-location-pin"></i>
                        </div>
                        <div class="desc mt-3">                               
                            <p>{{h.adress|capfirst }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-10">
                    <div class="info-box d-flex justify-content-md-center">
                        <div class="icon">
                            <i class="flaticon-phone"></i>
                        </div>
                        <div class="desc mt-3">          
                            <p>{{h.tel}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-10">
                    <div class="info-box d-flex">
                        <div class="icon">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="desc mt-3">                              
                            <a href="mailto:{{h.mail}}" style="text-decoration: none;color:black;">{{h.mail}} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of Contact Info -->
        
        <div class="row d-md-flex justify-content-lg-center mx-lg-auto">
            <!-- Contact Maps -->
            <div class="col-md-6 mb-5 pb-5 pb-md-0 mb-md-0 text-center" id="map">
            {{map.texte|safe}}
            <!-- <p><a href="//umap.openstreetmap.fr/fr/map/atlantis-bejaia_540678">Voir en plein écran</a></p> -->
            </div>
            <!--end of Contact Maps -->
            
            <!-- Contact form -->
            <div class=" col-md-6 mx-auto">
                <form method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="input-group mb-30">
                                <span class="icon"><i class="far fa-user" style="font-size: 16px;"></i></span>
                                <input type="text" name="name" placeholder="Votre nom complet" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group mb-30">
                                <span class="icon"><i class="far fa-envelope" style="font-size: 16px;"></i></span>
                                <input type="email" name="mail_user" placeholder="Votre adresse électronique" required>
                            </div>
                        </div>
                        <div class=" col-md-12">
                            <div class="input-group mb-30">
                                <span class="icon"><i class="far fa-phone" style="font-size: 16px;"></i></span>
                                <input type="number" min='0' name="phone" placeholder="Votre numéro de téléphone" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group mb-30">
                                <span class="icon"><i class="far fa-book" style="font-size: 16px;"></i></span>
                                <input type="text" name="subject"  placeholder="L'object" required>
                            </div>
                        </div>
                        <div class=" col-12">
                            <div class="input-group textarea mb-30">
                                <span class="icon"><i class="far fa-pen" style="font-size: 16px;"></i></span>
                                <textarea name="request" type="text" placeholder="Votre message" required></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="main-btn btn-filled w-100">Valider</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end of Contact form -->
        </div>
    </div>
</section>
<!-- end of contact section -->
{% endblock %}