{% load static %}
<!DOCTYPE html>
<html>
<head>
	  <!--====== Flaticon css ======-->
<link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
<!--====== Fontawesome css ======-->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<title>Index des icones</title>
<style type="text/css">
	i{
		font-size: 32px;
	}
	ul{
		 list-style-type: none;
	}
</style>
</head>
<body>
	<h2 class="text-center">     فهرس أيقونات الموقع      </h2>
	<table class="table mt-5 mr-auto text-right">
  <thead>
    <tr>
      
      <th scope="col">  وصف </th>
      <th scope="col" class="text-center">      الأيقونات     </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>        الاستقبال في المطار          </td>
      <th scope="row" class="text-center"><i class="fal fa-plane" ></i> / <i class="fal fa-car"></i></th>
    </tr>
    <tr>
      
      <td>    دليل سياحي      </td>
      <th scope="row" class="text-center"><i class="fal fa-map-marker-alt" ></i></th>
    </tr>
    <tr>
      
      <td>     منتجع صحي     </td>
      <th scope="row" class="text-center"><i class="fal fa-spa"></i></th>
    </tr>
    <tr>
      
      <td>    غرف فاخرة    </td>
      <th scope="row" class="text-center"><i class="fal fa-hotel"></i></th>
    </tr>
     <tr>
      
      <td>     حجم كوين أو حجم كينج أو سرير مفرد       </td>
      <th scope="row" class="text-center"><i class="fal fa-bed"></i></th>
    </tr>
    <tr>
      
      <td>      خدمة الغرف / ميني بار      </td>
      <th scope="row" class="text-center"><i class="fal fa-concierge-bell"></i></th>
    </tr>
    <tr>
     
      <td>     حمام السباحة     </td>
       <th scope="row" class="text-center"><i class="fal fa-swimmer"></i></th>
    </tr>
    <tr>
      
      <td>     رقم الهاتف     </td>
      <th scope="row" class="text-center"><i class="flaticon-call"></i></th>
    </tr>
    <tr>
      
      <td>    البريد الإلكتروني      </td>
      <th scope="row" class="text-center"><i class="fal fa-envelope"></i></th>
    </tr>
    <tr>
      
      <td>     عنوان     </td>
      <th scope="row" class="text-center"><i class="flaticon-location-pin"></i></th>
    </tr>
    <tr>
      
      <td>    تكييف هواء قابل للتعديل    </td>
      <th scope="row" class="text-center"><i class="fal fa-wind"></i></th>
    </tr>
    <tr>
      
      <td>     إنترنت لاسلكي عالي السرعة     </td>
      <th scope="row" class="text-center"><i class="fal fa-wifi"></i></th>
    </tr>
    <tr>
      
      <td>      صينية مع الشاي والقهوة مجانًا في الغرف      </td>
      <th scope="row" class="text-center"><i class="fal fa-coffee"></i></th>
    </tr>
    <tr>
      
      <td>    خزنة    </td>
      <th scope="row" class="text-center"><i class="fal fa-lock"></i></th>
    </tr>
    <tr>
      
      <td>       تنظيف       </td>
      <th scope="row" class="text-center"><i class="fal fa-broom"></i></th>
    </tr>
    <tr>
      
      <td>     دش إيطالي     </td>
      <th scope="row" class="text-center"><i class="fal fa-shower"></i></th>
    </tr>
    <tr>
      
      <td>      شاشات LED مع اتصال صوتي وفيديو         </td>
      <th scope="row" class="text-center"><i class="fal fa-tv"></i></th>
    </tr>
    <tr>
      
      <td>    مجفف شعر     </td>
      <th scope="row" class="text-center"><img src="{% static 'img/hair-dryer.png' %}"></th>
    </tr>
    <tr>
      
      <td>    مكواة وطاولة كي     </td>
      <th scope="row" class="text-center"><img src="{% static 'img/iron-board.png' %}"></th>
    </tr>
    <tr>
      
      <td>     الفيسبوك    </td>
      <th scope="row" class="text-center"><i class="fab fa-facebook-f"></i></th>
    </tr>
    <tr>
      
      <td>     انستغرام       </td>
      <th scope="row" class="text-center"><i class="fab fa-instagram"></i></th>
    </tr>
    <tr>
      
      <td>     تريب أدفازر     </td>
      <th scope="row" class="text-center"><i class="fab fa-tripadvisor"></i></th>
    </tr>
    <tr>
      
      <td>     يوتيوب     </td>
      <th scope="row" class="text-center"><i class="fab fa-youtube"></i></th>
    </tr>
</tbody>
</table>


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>