{% extends 'atlhotel_ar/home.html' %}
{% load static %}
{% block main %}
{% include 'atlhotel_ar/header_redirect_only.html' %}
{% for pic in picsCarousel %}
{% if pic.position == '1' %}
<section class="row breadcrumb-area darken" style="background-image: url({{pic.pic.url}});">
        <div class="container">
            <div class="breadcrumb-text">
               
            </div>
        </div>
    </section>
    {% endif %}
    {% endfor %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white;">
        <li class="breadcrumb-item"><a href="{% url 'home_ar' h.name %}">الرئيسية</a></li>
        <li class="breadcrumb-item"><a href="{% url 'rooms_ar' h.name %}">الغرف   </a> </li>
        <li class="breadcrumb-item active" aria-current="page">{{text.title}}</li>
    </ol>
</nav>

    <!--====== BREADCRUMB PART END ======-->
    <!--====== ROOM-DETAILS START ======-->
    <section class="room-details pt-40 pb-90">
        <div class="container">
            <div class="row">
                <!-- details -->
                <div class="col-lg-8">
                    <div class="deatils-box">
                        <div class="title-wrap">
                            <div class="price" id="price_suite">
                                <span>دج /ليلة </span>{{price.room_price}}
                            </div>
                            <div class="title">
                                <div class="room-cat text-right" style="letter-spacing: 0px;">غرف</div>
                                <h2 class="text-right" style="letter-spacing: 0px;">{{text.title}}</h2>
                            </div>
                            
                        </div>
                        <div class="thumb mt-3">
                          <div class="room-details-slider">
                            {% for pic in picsCarousel %}
                            <img src="{{pic.pic.url}}" alt="images">
                            {% endfor %}    
                          </div>
                          <div class="room-details-slider-nav">
                            {% for pic in picsCarousel %}
                            <img src="{{pic.pic.url}}" alt="images">
                            {% endfor %}
                           
                          </div>
                        </div>
                        <div class="text-right"> 
                        <p>
                            
                            {{text.texte|linebreaks}}
                            
                        </p></div>
                        <div class="room-fearures clearfix mx-auto col-12">
                            <a href="{% url 'icons_ar' %} " target="_blank"><p><ul class="room-fearures-list d-flex flex-wrap justify-content-center" >
                                <li><i class="fal fa-wind" style="color:black;"></i></li>
                                <li><i class="fal fa-wifi" style="color:black;"></i></li>
                                <!-- <li><i class="fal fa-key"></i></li> -->
                                <li><i class="fal fa-coffee" style="color:black;"></i></li>
                                <li><i class="fal fa-lock" style="color:black;"></i></li>
                                <li><i class="fal fa-broom" style="color:black;"></i></li>
                                <li><i class="fal fa-shower" style="color:black;"></i></li>
                                <li><i class="fal fa-bed" style="color:black;"></i></li>
                                <li><i class="fal fa-concierge-bell" style="color:black;"></i></li>
                                <!-- <li><i class="fal fa-shopping-cart" style="color:black;"></i></li> -->
                                <li><i class="fal fa-tv" style="color:black;"></i></li>
                                <!-- <li><i class="fal fa-phone"></i></li> -->
                                <li><i class="fal fa-swimmer" style="color:black;"></i></li>
                                <li><i class="fal fa-hotel" style="color:black;"></i></li>
                                <li><i class="fal fa-car" style="color:black;"></i></li>
                                <li><img src="{% static 'img/hair-dryer.png' %}" width="32px"></li>
                                <li><img src="{% static 'img/iron-board.png' %}"></li>
                                <!-- <li> <img src="{% static 'img/air-conditioner.png' %}"> </li> -->
                            </ul></p></a>
                        </div>
                     
                        
                        <div class="room-rules clearfix text-right mb-30">
                            <h3 class="subtitle text-right">قواعد المنزل</h3>
                            <ul class="text-right" >
                                {% for r in hr %}
                                <li class="text-right pr-4"> <i class="fas fa-check" style="position:absolute; right:0; color: #bead8e; font-size: 16px;"></i>{{r.title|capfirst}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="cancellation-box clearfix mb-30 text-right">
                            <h3 class="subtitle">{{annul.title|capfirst}}</h3>
                            <p>
                               {{annul.texte|capfirst}}
                            </p>
                        </div>
                        
                        <div class="related-room">
                            <h3 class="subtitle text-right">غرفنا</h3>
                            <div class="row room-gird-loop">

                                <div class="col-12">


                                    <section class="room-slider bg-white">

                                        <div class="row rooms-slider-two justify-content-center">
                                          
                                          {% for caroussel,t in zipped %}
                                            <div class="col-md-12">
                                                <div class="single-rooms-box">
                                                    <div class="room-img w-100">
                                                        <div class="img w-100" style="background-image: url({{caroussel.pic.url}});">
                                                        </div>
                                                    </div>
                                                    <a href="{% url 'icons_ar' %}" target="_blank">
                                                    <ul class="icons col-12 text-center">
                                                        <li class="mx-3"><i class="fal fa-bed"></i></li>
                                                        <li class="mx-3"><i class="fal fa-wifi"></i></li>
                                                        <li class="mx-3"><i class="fal fa-car"></i></li>
                                                        <li class="mx-3"><i class="fal fa-coffee"></i></li>
                                                        <li class="mx-3"><i class="fal fa-concierge-bell"></i></li>
                                                        <li class="mx-3"><i class="fal fa-swimmer"></i></li>
                                                        <!-- <li class="mx-3"><i class="fal fa-compress-arrows-alt"></i></li> -->
                                                    </ul></a>
                                                    <div class="room-desc col-12" style="position: absolute; left: 0;">
                                                        <div class="row align-items-center">
                                                            <div class="col-12">
                                                              
                                                                <h4 class="text-right" style="letter-spacing: 0px;"><a href="{% url 'rooms_ar' h.name t.description %}">{{t.title|capfirst}}</a></h4>
                                                                <p class="text-right">
                                                                    {{t.texte|capfirst|truncatechars:40}}
                                                                    
                                                                </p>
                                                             
                                                            </div>
                                                            <div class="col">
                                                                {% for p in prices %}
                                                                <div class="price">
                                                                    {% if p.room_type == t.description %}
                                                                   <span>دج /ليلة </span> {{p.room_price}}
                                                                   {% endif %}
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                </section>                                   
                              </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <!-- form -->
                <div class="col-lg-4 ">

                    <div class="room-booking-form position-stick sticky-top" id="reservez">
                        <h5 class="title" class="col-12 text-center">احجز</h5>
                        <form action="#" method="POST">{% csrf_token %}
                            <!-- <div class="input-group input-group-two left-icon mb-20 text-right col-12">
                                <label for="arrival-date" class="text-right col-12" >تاريخ الوصول</label>
                                <div class="icon"><i class="fal fa-calendar-alt" style="font-size: 16px;"></i></div>
                                <input type="text" placeholder="اختر التاريخ" name="arrival-date" id="arrival-date" class="text-right">
                            </div>
                            <div class="input-group input-group-two left-icon mb-20">
                                <label for="departure-date" class="text-right col-12">تاريخ المغادرة</label>
                                <div class="icon"><i class="fal fa-calendar-alt" style="font-size: 16px;"></i></div>
                                <input type="text" placeholder="اختر التاريخ" name="departure-date" id="departure-date" class="text-right">
                            </div>
                            <div class="input-group input-group-two left-icon mb-20">
                                <label for="room" class="text-right col-12">غرف</label>
                                <select name="room" id="room" class="text-right">
                                    <option value="1" selected>1 </option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="input-group input-group-two left-icon mb-20">
                                <label for="Adulte" class="text-right col-12">الكبار</label>
                                <select name="Adulte" id="Adulte" class="text-right">
                                    <option value="1">1</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="input-group input-group-two left-icon mb-20 ">
                                <label for="enfants" class="text-right col-12">أطفال</label>
                                <select name="enfants" id="enfants" class="text-right">
                                    <option value="0">0</option>
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="2">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div> -->
                         

                            <div class="input-group input-group-two mb-20">
                                <input type="text" placeholder="الإسم واللقب   " id="name_r" name="name_r" class="text-right" required>
                            </div>
                              <div class="input-group input-group-two mb-20">
                                <input type="email" placeholder="البريد الإلكتروني  " name="mail_r" class="text-right" id="mail_r" required>
                            </div>
                            <div class="input-group input-group-two mb-20">
                                <input type="number" min='0' placeholder="رقم الهاتف   " name="phone_r" id="phone_r" class="text-right" required>
                            </div>
                            <div class="input-group input-group-two mb-20">
                                <select id="room_type" name="room_type" class="text-right" required>
                                <option value="" selected>   نوع غرفة النوم     </option>
                                {% for chambre in chambres %}
                                <option value="{{chambre.name_spage}}"> {{chambre.name_spage_ar}}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="input-group input-group-two mb-20">
                                <input type="number" min='0' placeholder="عدد الأشخاص    " id="np" name="np" class="text-right" required>
                            </div>
                            <div class="input-group input-group-two mb-20">
                                <label for="date_a" class="text-right col-12">:تاريخ الوصول  </label> 
                                <input type="date" id="date_a" name="date_a" min = '{{year}}-{{month}}-{{day}}' required class="text-right">
                            </div>
                            <div class="input-group input-group-two mb-20">
                                <label for="date_d" class="text-right col-12">:موعد المغادرة </label> 
                                <input type="date" id="date_d" name="date_d" required class="text-right">
                            </div>


                            <div class="input-group">
                                <button class="main-btn btn-filled" style="letter-spacing: 0px;">احجز الآن</button>
                            </div>




                            


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== ROOM-DETAILS END ======-->
    
{% endblock %}